// Colors
$dark-green: #49D49D;
$mint-green: #86E7B8;
$green: #93FF96;
$light-green: #D0FFB7;
$beige: #F2F5DE;

$black: #141917;
$dark-grey: #666968;
$grey: #909291;
$middle-grey: #B9BABA;
$light-grey: #DDD;

$darker-white: #EFF4F2;
$white: #F9FBFA;

// Font sizes
$big-title: 65px;
$medium-title: 48px;
$title: 32px;
$small-title: 24px;
$regular-font: 18px;
$small-font: 12px;
